.animate-character{
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
#231557 0%,
#44107a 29%,
#ff1361 67%,
#fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: rgb(150, 61, 61);
    background-clip: text;
    
    -webkit-background-clip: text;
    -webkit-background-clip: transparent;
    animation: text 2s linear infinite;
    display: inline-block;
    font-style: 190px;
}
@keyframestextclip {
    to {
    background-position: 200%center;
    }
    }